<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">EFSANELER</h2>
                    <h3 class="section-subheading text-muted">En sevdiğin efsaneyi seç</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>KANLIRIHTIM'IN ÖCÜ</h4>
                                    <h4 class="subheading">PYKE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pyke gençliğinde, çalışmaya çoğu Bilgewater'lının başladığı yerde başladı: Katliam Limanı'nda. Bu limana her gün, gün boyunca kıyıya dizilmiş mezbahalarda işlenecek derin deniz canavarları getirilirdi. Zemin tahtalarına sürekli akan kanların lekesini gelgit bile çıkaramadığı için Kanlırıhtım adı verilmiş olan bir mahallede iş buldu. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>ÖDÜL AVCISI</h4>
                                    <h4 class="subheading">MISS FORTUNE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bilgewater’ın, deniz suyu yüzünden tuz kaplı olan labirent gibi sokaklarında adını duyurabilmiş herkes gibi Sarah Fortune da elini bol bol kana bulamıştır.

                                        Ünlü silah hanımı Abigale Fortune'un sevgili kızı Sarah, mutlu çocukluğunun büyük bir kısmını sahilin hemen yakınında yer alan adacıktaki silah atölyesinde ateşleme çarklarını zımparalayarak, tetikleri ayarlayarak ve hatta özel yapım mermiler dökerek geçirdi. Annesi işinde o kadar ustaydı ki artık ünü efsaneye dönüşmüş, ısmarlama yaptığı tabancalar pek çok zengin soylunun koleksiyonunda kendine yer bulmuştu.

                                        Ama bazen bu güzelim silahları, fena amaçları ve kötü niyetleri olanlar da arzulardı.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>OKYANUS ŞEYTANI</h4>
                                    <h4 class="subheading">GANGPLANK</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ne kadar acımasızsa sağı solu da bir o kadar belirsiz olan, yağmacı-talancıların tahtından indirilmiş kralı Gangplank, yedi denize dehşet salar. Gittiği her yere peşinden ölüm ve yıkım götürür. Kötü ünü o kadar yaygındır ki, kara yelkenlerinin ucunun dahi ufukta belirmesi en dişli tayfanın bile telaşa kapılmasına neden olur.

                                        Oniki Deniz’in ticaret rotalarına saldırarak zenginleşmiş olan Gangplank, kendine en güçlülerinden bir sürü düşman edinmiştir Ionia’nın Keskin Bıçaklar Tapınağı’na saldırdıktan sonra ölümcül Gölge Tarikatı’nın gazabını üstüne çektiği bilinir. Hatta Swain’in şahsi savaş gemisi ve Noxus filosunun göz bebeği olan Leviathan’ı çaldığı için Noxus Baş Komutanı’nın onu yakalatıp parça parça ettirmeye ant içtiği söylenir.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>İSKAMBİL USTASI</h4>
                                    <h4 class="subheading">TWİSTED FATE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Yılankavi Nehri’nin göçebe halkının arasında doğan Tobias Felix, dışlanmış olmanın nasıl bir şey olduğunu çabucak öğrendi. Halkına, sattıkları egzotik mallar yüzünden tahammül ediliyordu. Öte yandan, tuhaf gelenekleri dışlanmalarına neden oluyordu. Rengârenk nehir yelkenlilerini demirledikleri kıyılarda, ancak kısa süreler için hoş karşılanıyorlardı. Büyükleri dünyanın düzeninin böyle kurulduğunu söylüyordu; ama haklarındaki önyargı Tobias'ın zoruna gidiyordu.

                                        Hayattaki tutkusunu, Ölümçarkı ve bıçak oyunu gibi şans ve beceri oyunlarının oynandığı kumar çadırlarında eline ilk kez iskambil destesi aldığında buldu. Yıllar önce batıl inançlı büyükbabası ona kartlarla fal bakmayı göstermişti ve daha sonra halası ona rakiplerinin yüz ifadelerini okumayı öğretmişti. Tobias bunlar sayesinde büyük meblağların döndüğü Krakenkaçtı oyununu yaşlı bir usta misali oynayabiliyordu. Neredeyse destedeki her kartın yerini hissedebiliyor ve her başarılı elde onların hareketlerini takip edebiliyordu. Çoğu zaman hile yapmakla suçlansa da kimse bunu kanıtlayamıyordu.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>ve
                                    <br>Diğer
                                    <br>EFSANELER!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>