<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">EFSANELER LİGİNE HOŞGELDİN</h2>
                    <h3 class="section-subheading text-muted">Efsane olmak için efsane gibi düşünmelisin</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">ZAMAN</h4>
                    <p class="text-muted">Herkesin bir günde 24 saati vardır. Zaman, geri döndürülmesi, depolanması ve durdurulması mümkün olmayan kıt bir kaynaktır. Bu kıt kaynağın ne kadar etkin kullanıldığı, insanların kendilerini ve çevrelerini ne kadar geliştirebildiklerini belirleyen en önemli unsurdur..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">TECRÜBE</h4>
                    <p class="text-muted">Tecrübe çok önemli bir yol göstericidir. Paha biçilmez bir değerdir. Yaşadıklarımız ve onların bıraktığı izler, acılar çekerek öğrendiğimiz, üzerinde düşünerek bir karara vardığımız anlar, dakikalar, saatler ve günler tecrübelerimizi oluşturur.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DOĞRU KARAR</h4>
                    <p class="text-muted">Yaşadığımız sürece sayamayacağımız kadar çok “karar” veririz. Bu kararlar da, doğrudan bizi ve yaşamımızı, ailemizi, yakınlarımızı, iş dünyamızı, kendi firmamızı etkiler. Ülkemizi hatta dünyayı etkiler. Bu kararların pek çoğunu da “Pat” diye veririz. Hiç düşünmeden... Oysa karar vermeden önce bizi yönlendirecek değerler analitik düşünme, tecrübe, bilgi, sezgi, cesaret ve riskleri öngörebilen sağduyudur..</p>
                </div>
            </div>
        </div>
    </section>